{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	
        <!--bootstrap.min.css-->
        <link href="{% static 'bootsrap\node_modules\bootstrap\dist\css\bootstrap.min.css' %}" rel="stylesheet"><link href="{% static 'bootsrap\node_modules\bootstrap\dist\js\bootstrap.min.js' %}" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    <div class='container'>
        <div class='row my-5'>
            <h1>Clients</h1>
            <div class='list-group'>
                <a href='client' class='list-group-item'>mohammed ali</a>
                <a href='client' class='list-group-item'>Osama Ahmed Taha</a>
                <a href='client' class='list-group-item'>John Adams</a>
                <a href='client' class='list-group-item'>Siddig Mahmoud</a>
                <a href='client' class='list-group-item'>Ibrahim Musa adam</a>
                <a href='client' class='list-group-item'>Osman Ibrahim Ahmed</a>
                <a href='client' class='list-group-item'>Mahmoud Salih Hamad</a>
                <a href='client' class='list-group-item'>Magdi Isaa Salig</a>
                <a href='client' class='list-group-item'>mohammed Ibrahim</a>
                <a href='client' class='list-group-item'>Marjan Ismaeel</a>
                <a href='client' class='list-group-item'>mohammed ali</a>
                <a href='client' class='list-group-item'>Osama Ahmed Taha</a>
                <a href='client' class='list-group-item'>John Adams</a>
                <a href='client' class='list-group-item'>Siddig Mahmoud</a>
                <a href='client' class='list-group-item'>Ibrahim Musa adam</a>
                <a href='client' class='list-group-item'>Osman Ibrahim Ahmed</a>
                <a href='client' class='list-group-item'>Mahmoud Salih Hamad</a>
                <a href='client' class='list-group-item'>Magdi Isaa Salig</a>
                <a href='client' class='list-group-item'>mohammed Ibrahim</a>
                <a href='client' class='list-group-item'>Marjan Ismaeel</a>
                <a href='client' class='list-group-item'>mohammed ali</a>
                <a href='client' class='list-group-item'>Osama Ahmed Taha</a>
                <a href='client' class='list-group-item'>John Adams</a>
                <a href='client' class='list-group-item'>Siddig Mahmoud</a>
                <a href='client' class='list-group-item'>Ibrahim Musa adam</a>
                <a href='client' class='list-group-item'>Osman Ibrahim Ahmed</a>
                <a href='client' class='list-group-item'>Mahmoud Salih Hamad</a>
                <a href='client' class='list-group-item'>Magdi Isaa Salig</a>
                <a href='client' class='list-group-item'>mohammed Ibrahim</a>
                <a href='client' class='list-group-item'>Marjan Ismaeel</a>


            </div>
        </div>

    </div>
    <style>

    </style>
    <script src="{% static 'bootsrap\node_modules\bootstrap\dist\js\bootstrap.bundle.min.js' %}"></script>

</body>