{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	
        <!--bootstrap.min.css-->
    <link href="{% static 'bootsrap\node_modules\bootstrap\dist\css\bootstrap.min.css' %}" rel="stylesheet"><link href="{% static 'bootsrap\node_modules\bootstrap\dist\js\bootstrap.min.js' %}" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    <div class='container'>
        <div class='row mx-auto row-gap-2 my-5'>
            <h1>Our Product</h1>
            <div class="d-flex flex-wrap">
				<div class="col-sm-3 card">
					<img src="{% static 'images/b1.jpg' %}" />
					<div class='m-2 position-relative h-100'>
						<h6>Elecrical machine</h6>
						<p>lorems ollfk sdsfsdf sdasd ioewrds sdjfsdjf jfjskdfksdf</p>
						<a class='btn btn-primary px-3 py-1 my-2 position-absolute bottom-0 right-0' href='{% url "products" %}'>Read more</a>
					</div>
				</div>
				<div class="col-sm-3 card">
					<img src="{% static 'images/b2.jpg' %}" />
					<div class='m-2 position-relative h-100'>
						<h6>Computers and others<h6> 
						<p>lorems ollfk sdsfsdf sdf lorems ollfk sdsfsdf sdf</p>
							<button class='btn btn-primary px-3 py-1 my-2 position-absolute bottom-0 right-0'>Read more</button>
					</div>
				</div>
				<div class="col-sm-3 card">
					<img src="{% static 'images/b3.jpg' %}" />
					<div class='m-2 position-relative h-100'>
						<h6>Furnitures</h6>
						<p>lorems ollfk sdsfsdf sdasd ioewrds sdjfsdjf jfjsk</p>
							<button class='btn btn-primary px-3 py-1 my-2 position-absolute bottom-0 right-0'>Read more</button>
					</div>
				</div>				
				<div class="col-sm-3 card">
					<img src="{% static 'images/b3.jpg' %}" />
					<div class='m-2 position-relative h-100'>
						<h6>Furnitures</h6>
						<p>lorems ollfk sdsfsdf sdasd ioewrds sdjfsdjf jfjsk</p>
							<button class='btn btn-primary px-3 py-1 my-2 position-absolute bottom-0 right-0'>Read more</button>
					</div>
				</div>				
				<div class="col-sm-3 card">
					<img src="{% static 'images/b3.jpg' %}" />
					<div class='m-2 position-relative h-100'>
						<h6>Furnitures</h6>
						<p>lorems ollfk sdsfsdf sdasd ioewrds sdjfsdjf jfjsk</p>
							<button class='btn btn-primary px-3 py-1 my-2 position-absolute bottom-0 right-0'>Read more</button>
					</div>
				</div>				
				<div class="col-sm-3 card">
					<img src="{% static 'images/b3.jpg' %}" />
					<div class='m-2 position-relative h-100'>
						<h6>Furnitures</h6>
						<p>lorems ollfk sdsfsdf sdasd ioewrds sdjfsdjf jfjsk</p>
							<button class='btn btn-primary px-3 py-1 my-2 position-absolute bottom-0 right-0'>Read more</button>
					</div>
				</div>				
				<div class="col-sm-3 card">
					<img src="{% static 'images/b3.jpg' %}" />
					<div class='m-2 position-relative h-100'>
						<h6>Furnitures</h6>
						<p>lorems ollfk sdsfsdf sdasd ioewrds sdjfsdjf jfjsk</p>
							<button class='btn btn-primary px-3 py-1 my-2 position-absolute bottom-0 right-0'>Read more</button>
					</div>
				</div>				
			</div>
        </div>
    </div>
</body>
<style>

</style>